@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212121;
}

.dark {
  --background: #212121;
  --foreground: #ffffff;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

html, body {
  background-color: var(--background);
  transition: background-color 0.3s;
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default paddings */
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Add these styles to your CSS file */
@keyframes spin-fade-out {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

@keyframes spin-fade-in {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.animate-spin-fade-out {
  animation: spin-fade-out 0.3s forwards;
}

.animate-spin-fade-in {
  animation: spin-fade-in 0.3s forwards;
}

.transition-max-width {
  transition-property: max-width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.transition-height {
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

  /* Scrollbar styling for light- & dark mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #F3F4F6; /* gray-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #333;
}